<div>
    <h2>{{Employee.EmpFirstName}} {{Employee.EmpLastName}} details</h2>
</div>
<div>
    <table class="table table-bordered table-condensed table-striped">
         <tbody>
            <tr>
                <td>Employee Id</td>
                <td><span><input type="text" ng-model="Employee.EmpId"/></span></td>
            </tr>
            <tr>
                <td>First Name</td>
                <td>
                    <span><input type="text" ng-model="Employee.EmpFirstName" /></span>
                </td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><span><input type="text" ng-model="Employee.EmpLastName" /></span></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><span><input type="email" ng-model="Employee.EmpEmail" /></span></td>
            </tr>
        </tbody>
    </table>
    <a ng-click="back();" rel="nofollow" target="_blank">Go Back</a>
</div>